@import "resets";
@import "variables";

@for $day from 28 through 31 {
  .calendar-#{$day} :nth-child(#{$day}) ~ div {
    display: none;
  }
}

@for $x from 1 through 31 {
  .calendar :nth-child(#{$x})::after {
    content: "#{$x}";
  }
}

@each $dayOfWeek in $weekDays {
  .calendar-#{$dayOfWeek} :first-child {
    margin-left: (($size + 1px) *($y - 1)) + 1px;
  }
  $y: $y + 1;
}

.calendar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 7 * ($size + 2 * $margin + 2 * $border);

}

.calendar > div {
  $size: 100px;
  $margin: 0.5px;
  box-sizing: content-box;
  width: $size;
  height: $size;
  background-color: #eee;
  border: $border solid black;
  margin: $margin;
  font-size: 30px;
  text-align: center;
  line-height: $size;
  transition: background-color, transform 0.5s;
}

.calendar > :hover {
  background-color: pink;
  transform: translateY(-20px);
  z-index: 1;
  cursor: pointer;
}
